<footer class="footer">
  <div class="container ">

    <div class="col-xs-8 col-xs-offset-2">
      <p class="text-muted">
        this
        <%= link_to("site and API created using rails-hackernews-reddit-producthunt-clone", 'https://github
        .com/blairanderson/rails-hackernews-reddit-producthunt-clone') %>
        was
        <%= link_to("made by blair", 'https://www.blairanderson.co/') %>
      </p>
    </div>
  </div>
</footer>

